name: githubactions
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  web:
    runs-on: ubuntu-latest
    steps:
      - name: env variables
        env:
          VENKAT: HEISBEST
          THE: VNBE
        run: |
          echo "these $VENKAT from india"
          echo "IT is more $THE"
